/* 
*{
    padding: 0;
    margin: 0;
} */


.pagina {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.personal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: chartreuse;
    margin-bottom: 100px;
}

.contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.presentacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.rafa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telefono {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.correo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.github {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.boton-perfil-github {
    width: 100px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    margin-top: 80px;
}

.portfolio-tienda-online {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 100px;
}

.tienda {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px;
}

.tienda h1 {
    text-align: center;
}

.boton-tienda-online {
    width: 100px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}

.tecnologias-tienda-online {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.tecnologias-tienda-online h1 {
    text-align: center;
}

.lenguajes-tienda-online {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.proyecto-solidario-metaverso{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: black;
    color: white;
}

.metaverso{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 60px;
}

.metaverso p{
    margin: 50px;
}